In [25]:
import pandas as pd
import numpy as np

In [2]:
df_subset_job_seekers = pd.read_pickle('../01_data/df_subset_job_seekers.pkl')

In [3]:
df_subset_job_seekers.head()

,country,country2,DEGURBA,IN02,HH02,HH03,HH04,HLS02,RA03_1,RA03_2,...,PB10_2,PB11,S01,SI02,SI06,activ,Encount_police_5y,res_stat,id,arop
0,1.0,1.0,1.0,8.0,37.0,1.0,1.0,4.0,4.0,4.0,...,1.0,3.0,1.0,1.0,3.0,1.0,2.0,3.0,165.0,1.0
12,1.0,1.0,1.0,8.0,30.0,1.0,1.0,3.0,1.0,2.0,...,1.0,2.0,1.0,1.0,5.0,1.0,2.0,5.0,317.0,0.0
16,1.0,1.0,1.0,8.0,35.0,1.0,1.0,3.0,4.0,2.0,...,1.0,3.0,1.0,1.0,4.0,1.0,1.0,5.0,321.0,0.0
17,1.0,1.0,1.0,8.0,42.0,1.0,4.0,3.0,3.0,4.0,...,1.0,3.0,1.0,6.0,1.0,2.0,1.0,3.0,322.0,1.0
22,1.0,1.0,1.0,8.0,39.0,1.0,5.0,4.0,3.0,3.0,...,2.0,3.0,5.0,9.0,2.0,7.0,2.0,5.0,327.0,1.0

# <u>Frequency of specific experiences of harassment in country in past 5 years <u>    

In the past 5 years in [COUNTRY] (or since you have been in [COUNTRY], how many times has somebody...?1:

**VH01a_1:** made offensive or threatening comments to you in person such as insulting you or calling you names?

In [7]:
# Print data type of variable VH01a_1
print("Data type of VH01a_1:", df_subset_job_seekers['VH01a_1'].dtype)

# Check for missing values in variable VH01a_1
print("Number of missing values in VH01a_1:", df_subset_job_seekers['VH01a_1'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['VH01a_1'].value_counts())

# Create new variable VH01a_1_mod based on conditions
df_subset_job_seekers['VH01a_1_mod'] = df_subset_job_seekers['VH01a_1'].apply(lambda x: 1 if x >= 1 and x <= 8 else 0)

# Print frequency table
print(df_subset_job_seekers['VH01a_1_mod'].value_counts())

Data type of VH01a_1: float64
Number of missing values in VH01a_1: 0
VH01a_1
0.0     8499
1.0     1082
2.0      881
7.0      756
3.0      593
6.0      401
5.0      352
4.0      300
99.0     246
8.0      209
96.0      76
97.0      11
Name: count, dtype: int64
VH01a_1_mod
0    8832
1    4574
Name: count, dtype: int64

**VH01a_3:** made offensive gestures to you or stared at you inappropriately?

In [5]:
# Check data type of variable VH01a_3
print("Data type of VH01a_3:", df_subset_job_seekers['VH01a_3'].dtype)

# Check for missing values in variable VH01a_3
print("Number of missing values in VH01a_3:", df_subset_job_seekers['VH01a_3'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['VH01a_3'].value_counts())

# Create new variable VH01a_3_mod based on conditions
df_subset_job_seekers['VH01a_3_mod'] = df_subset_job_seekers['VH01a_3'].apply(lambda x: 1 if x >= 1 and x <= 8 else 0)

# Print frequency table
print(df_subset_job_seekers['VH01a_3_mod'].value_counts())

Data type of VH01a_3: float64
Number of missing values in VH01a_3: 0
VH01a_3
0.0     8406
7.0     1023
1.0      766
2.0      766
3.0      554
6.0      466
8.0      430
5.0      392
4.0      277
99.0     251
96.0      67
97.0       8
Name: count, dtype: int64
VH01a_3_mod
0    8732
1    4674
Name: count, dtype: int64

<span style="color:red"><b>Another option</b></span>

In [42]:
# Create new variable VH01a_1_mod2 based on conditions
df_subset_job_seekers['VH01a_1_mod2'] = df_subset_job_seekers['VH01a_1'].apply(lambda x: 0 if x in [5, 96, 97, 99] else x)

# Print frequency table
print(df_subset_job_seekers['VH01a_1_mod2'].value_counts())

VH01a_1_mod2
0.0    9184
1.0    1082
2.0     881
7.0     756
3.0     593
6.0     401
4.0     300
8.0     209
Name: count, dtype: int64

In [23]:
col_check = ['VH01a_1_mod', 'VH01a_1_mod2', 'VH01a_1', 'VH01a_3_mod', 'VH01a_3']
df_subset_job_seekers[col_check].head(15)

    VH01a_1_mod  VH01a_1_mod2  VH01a_1  VH01a_3_mod  VH01a_3
0             1           2.0      2.0            0     99.0
12            0           0.0      0.0            0      0.0
16            1           1.0      1.0            0      0.0
17            1           7.0      7.0            1      7.0
22            0           0.0      0.0            1      1.0
23            0           0.0      0.0            1      6.0
25            1           6.0      6.0            0      0.0
27            0           0.0      0.0            0      0.0
30            0           0.0      0.0            0      0.0
33            1           6.0      6.0            1      6.0
35            1           4.0      4.0            1      6.0
38            1           3.0      3.0            1      7.0
41            1           2.0      2.0            1      3.0
42            0           0.0      0.0            0      0.0
44            0           0.0      0.0            0      0.0

### <u>Extent of discrimination on different grounds in country</u>
For each of the following types of discrimination, could you please tell me whether, in your 
opinion, it is very rare, fairly rare, fairly widespread, or very widespread in [COUNTRY]  
<span style="color:red"><b>Use alternative?</b></span>|

**RA03_1:** Discrimination on the basis of skin colour

In [15]:
# Print data type of variable RA03_1
print("Data type of RA03_1:", df_subset_job_seekers['RA03_1'].dtype)

# Check for missing values in variable RA03_1
print("Number of missing values in RA03_1:", df_subset_job_seekers['RA03_1'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['RA03_1'].value_counts())

Data type of RA03_1: float64
Number of missing values in RA03_1: 0
RA03_1
3.0     3902
2.0     3286
1.0     3137
4.0     1974
5.0      908
99.0     139
98.0      24
97.0      18
96.0      18
Name: count, dtype: int64

In [16]:
# Create new variable RA03_1_mod based on conditions
df_subset_job_seekers['RA03_1_mod'] = df_subset_job_seekers['RA03_1'].apply(lambda x: 1 if x >= 1 and x <= 4 else 0) # exists or doesn't exist

# Print frequency table
print(df_subset_job_seekers['RA03_1_mod'].value_counts())

RA03_1_mod
1    12299
0     1107
Name: count, dtype: int64

**RA03_2:** Discrimination on the basis of ethnic origin or immigrant background

In [13]:
# Print data type of variable RA03_2
print("Data type of RA03_2:", df_subset_job_seekers['RA03_2'].dtype)

# Check for missing values in variable RA03_2
print("Number of missing values in RA03_2:", df_subset_job_seekers['RA03_2'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['RA03_2'].value_counts())

Data type of RA03_2: float64
Number of missing values in RA03_2: 0
RA03_2
3.0     4211
2.0     3170
1.0     2771
4.0     2262
5.0      774
99.0     138
97.0      40
98.0      21
96.0      19
Name: count, dtype: int64

In [14]:
# Create new variable RA03_2_mod based on conditions
df_subset_job_seekers['RA03_2_mod'] = df_subset_job_seekers['RA03_2'].apply(lambda x: 1 if x >= 1 and x <= 4 else 0) # exists or doesn't exist

# Print frequency table
print(df_subset_job_seekers['RA03_2_mod'].value_counts())

RA03_2_mod
1    12414
0      992
Name: count, dtype: int64

**RA03_3:** Discrimination on the basis of religion or religious beliefs

In [ ]:
# Print data type of variable RA03_3
print("Data type of RA03_2:", df_subset_job_seekers['RA03_2'].dtype)

# Check for missing values in variable RA03_2
print("Number of missing values in RA03_2:", df_subset_job_seekers['RA03_2'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['RA03_2'].value_counts())

In [ ]:
# Create new variable RA03_3_mod based on conditions
df_subset_job_seekers['RA03_3_mod'] = df_subset_job_seekers['RA03_3'].apply(lambda x: 1 if x >= 1 and x <= 4 else 0) # exists or doesn't exist

# Print frequency table
print(df_subset_job_seekers['RA03_3_mod'].value_counts())

### <u>Main source of income of household</u>  
And which of these is the main source of income in your household?  
**SI02**

<span style="color:red"><b>DEAL WITH MISSINGNESS!</b></span>

In [44]:
# Print data type of variable SI02
print("Data type of SI02:", df_subset_job_seekers['SI02'].dtype)

# Check for missing values in variable SI02
print("Number of missing values in SI02:", df_subset_job_seekers['SI02'].isnull().sum())
print("Number of missing values in SI01:", df_subset_job_seekers['SI02'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['SI02'].value_counts())

Data type of SI02: float64
Number of missing values in SI02: 3863
Number of missing values in SI01: 3863
SI02
1.0     4958
8.0     1212
6.0     1003
2.0      523
3.0      521
5.0      421
7.0      387
4.0      190
9.0      148
96.0      77
99.0      73
10.0      16
97.0      14
Name: count, dtype: int64

In [20]:
# Create new variables SI02_inc_work and SI02_inc_ben based on conditions
df_subset_job_seekers['SI02_inc_work'] = df_subset_job_seekers['SI02'].apply(lambda x: 1 if x in [1, 2, 3] else 0) # salary, self-employement or occasional work
df_subset_job_seekers['SI02_inc_ben'] = df_subset_job_seekers['SI02'].apply(lambda x: 1 if x in [4, 5, 6, 7, 8] else 0) # education allowance, pensions, unemployment benefits, child benefits, other social benefits

# Print frequency table
print(df_subset_job_seekers['SI02_inc_work'].value_counts())
print(df_subset_job_seekers['SI02_inc_ben'].value_counts())

SI02_inc_work
0    7404
1    6002
Name: count, dtype: int64
SI02_inc_ben
0    10193
1     3213
Name: count, dtype: int64

### <u> Ability of household to make ends meet </u>

**SI06:** Thinking of your householdâ€™s total income, is your household able to make ends meet?

In [28]:
# Print data type of variable SI06
print("Data type of SI06:", df_subset_job_seekers['SI06'].dtype)

# Check for missing values in variable SI06
print("Number of missing values in SI06:", df_subset_job_seekers['SI06'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['SI06'].value_counts())

Data type of SI06: float64
Number of missing values in SI06: 0
SI06
1.0     3934
3.0     3192
2.0     2776
4.0     2102
5.0      945
6.0      262
96.0      95
99.0      93
97.0       7
Name: count, dtype: int64

In [7]:
# Create new variable SI06_mod based on conditions
df_subset_job_seekers['SI06_mod'] = df_subset_job_seekers['SI06'].apply(lambda x: 1 if x >= 4 and x <= 6 else 0) # fairly easily, easily or very easily

# Print frequency table
print(df_subset_job_seekers['SI06_mod'].value_counts())

SI06_mod
0    10097
1     3309
Name: count, dtype: int64

### <u>Housing tenure</u>  
**HLS02:** Do you own or rent your accommodation?

In [4]:
# Print data type of variable HLS02
print("Data type of HLS02:", df_subset_job_seekers['HLS02'].dtype)

# Check for missing values in variable HLS02
print("Number of missing values in HLS02:", df_subset_job_seekers['HLS02'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['HLS02'].value_counts())

Data type of HLS02: float64
Number of missing values in HLS02: 2
HLS02
4.0     4212
3.0     4188
1.0     2667
2.0     1048
5.0      985
6.0      178
96.0      84
99.0      39
97.0       3
Name: count, dtype: int64

In [6]:
# Create new variable HLS02_mod based on conditions
df_subset_job_seekers['HLS02_mod'] = df_subset_job_seekers['HLS02'].apply(lambda x: 1 if x == 1 or x == 2 else 0) # own with or without mortgage

# Print frequency table
print(df_subset_job_seekers['HLS02_mod'].value_counts())

HLS02_mod
0    9691
1    3715
Name: count, dtype: int64

### <u>Subjective assessment of own health condition</u>  
**DHE01:** How is your health in general? Is itâ€¦  
<span style="color:red"><b>Should we deal with it as a discrete or as a binary?</b></span>

In [9]:
# Print data type of variable DHE01
print("Data type of DHE01:", df_subset_job_seekers['DHE01'].dtype)

# Check for missing values in variable DHE01
print("Number of missing values in DHE01:", df_subset_job_seekers['DHE01'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['DHE01'].value_counts())

Data type of DHE01: float64
Number of missing values in DHE01: 0
DHE01
1.0     5642
2.0     5230
3.0     1807
4.0      596
5.0      120
96.0       7
99.0       3
97.0       1
Name: count, dtype: int64

In [16]:
# Define the mapping dictionary for the new variable
map_DHE01 = {96: 0, 97: 0, 99: 0, 1: 5, 5: 1, 2: 4, 4: 2}

# Create new variable DHE01_mod based on the mapping
df_subset_job_seekers['DHE01_mod'] = df_subset_job_seekers['DHE01'].map(map_DHE01).fillna(df_subset_job_seekers['DHE01'])
print(df_subset_job_seekers['DHE01_mod'].value_counts())
# Growing from non-existing answer (0) and very bad health (1) to very good health (5)

DHE01_mod
5.0    5642
4.0    5230
3.0    1807
2.0     596
1.0     120
0.0      11
Name: count, dtype: int64

### <u>Ethnic or immigrant background of residents of neighbourhood</u>  
**PB11:** In the neighbourhood where you live, how many of the residents would you say are of the same: [TAILORED TO TARGET GROUP CATEGORIES ethnic or immigrant background / Roma background / ethnic minority background] as you: all of the residents, most of them, some or none of them?  
<span style="color:red"><b>Two options</b></span>

In [14]:
# Print data type of variable PB11
print("Data type of PB11:", df_subset_job_seekers['PB11'].dtype)

# Check for missing values in variable PB11
print("Number of missing values in PB11:", df_subset_job_seekers['PB11'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['PB11'].value_counts())

Data type of PB11: float64
Number of missing values in PB11: 0
PB11
3.0     6624
2.0     4482
1.0     1304
4.0      671
99.0     288
97.0      20
96.0      17
Name: count, dtype: int64

In [17]:
# New variable: is the majority of your neighbourhood from the same ethnic background as you? ##### WINNER
# Create new variable PB11_mod based on conditions
df_subset_job_seekers['PB11_mod'] = df_subset_job_seekers['PB11'].apply(lambda x: 1 if x == 1 or x == 2 else 0) # all or most of the neighbourhood

# Print frequency table
print(df_subset_job_seekers['PB11_mod'].value_counts())

PB11_mod
0    7620
1    5786
Name: count, dtype: int64

In [18]:
# New variable 2: is your neighbourhood of mixed ethnicity?
# Create new variable PB11_mod2 based on conditions
df_subset_job_seekers['PB11_mod2'] = df_subset_job_seekers['PB11'].apply(lambda x: 1 if x == 2 or x == 3 else 0) # all or most of the neighbourhood

# Print frequency table
print(df_subset_job_seekers['PB11_mod2'].value_counts())

PB11_mod2
1    11106
0     2300
Name: count, dtype: int64

### <u>Employment situation</u>  
**HH04:** Employment situation  
<span style="color:red"><b>Same info as variable 'activ'</b></span>  
1	employed  
2	unemploye  d
3	not working due to illness or disabili  y 
4	domestic w  rk 
6	ret  ired
7	other inactive (education, military service, oher)

In [20]:
# Print data type of variable HH04
print("Data type of HH04:", df_subset_job_seekers['HH04'].dtype)

# Check for missing values in variable HH04
print("Number of missing values in HH04:", df_subset_job_seekers['HH04'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['HH04'].value_counts())

Data type of HH04: float64
Number of missing values in HH04: 0
HH04
1.0     5155
4.0     4861
5.0     1213
7.0      959
2.0      540
8.0      215
10.0     194
6.0      193
3.0       33
9.0       20
96.0      20
99.0       2
97.0       1
Name: count, dtype: int64

In [30]:
# Create new variables HH04_empl and HH04_stud based on conditions
df_subset_job_seekers['HH04_empl'] = df_subset_job_seekers['HH04'].apply(lambda x: 1 if x in [1, 2, 9] else 0) # employed, self-employed or military
df_subset_job_seekers['HH04_stud'] = np.where(df_subset_job_seekers['HH04'] == 5, 1, 0) # student

# Print frequency table for HH04_empl
print("Frequency table for HH04_empl:")
print(df_subset_job_seekers['HH04_empl'].value_counts())

# Print frequency table for HH04_stud
print("\nFrequency table for HH04_stud:")
print(df_subset_job_seekers['HH04_stud'].value_counts())

Frequency table for HH04_empl:
HH04_empl
0    7691
1    5715
Name: count, dtype: int64

Frequency table for HH04_stud:
HH04_stud
0    12193
1     1213
Name: count, dtype: int64

### <u> Awareness of experiences of violence among friends and family because of ethnic minority background in past 12 months </u>  
And in the past 12 months, have you heard of anyone in your circle of family or friends beingâ€¦  

**VV10_1:** insulted or called names because of their [TAILORED TO TARGET GROUP CATEGORIES ethnic or immigrant background / Roma background / ethnic minority background]?

In [31]:
# Print data type of variable VV10_1
print("Data type of VV10_1:", df_subset_job_seekers['VV10_1'].dtype)

# Check for missing values in variable VV10_1
print("Number of missing values in VV10_1:", df_subset_job_seekers['VV10_1'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['VV10_1'].value_counts())

Data type of VV10_1: float64
Number of missing values in VV10_1: 0
VV10_1
2.0     8833
1.0     4194
99.0     291
96.0      43
98.0      37
97.0       8
Name: count, dtype: int64

<span style="color:red"><b>Transform it into binary? Are 99, 96, 98 and 97 zeros?</b></span>  
Refused  
Does'nt 
undetsna the question   Not applicable   Don't know
know

### <u> Residence / citizenship status </u>  

res_stat

In [32]:
# Print data type of variable res_stat
print("Data type of res_stat:", df_subset_job_seekers['res_stat'].dtype)

# Check for missing values in variable res_stat
print("Number of missing values in res_stat:", df_subset_job_seekers['res_stat'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['res_stat'].value_counts())

Data type of res_stat: float64
Number of missing values in res_stat: 3987
res_stat
1.0     4196
5.0     2299
3.0     1417
99.0     629
6.0      366
2.0      288
4.0      224
Name: count, dtype: int64

<span style="color:red"><b>Too many missing values, what do we do?  ### WINNER: binary from EU or not >> wait for Gayatri to see if any other variables are better</b></span>  
Not exactly sure what is relevant here, I thought there'd be more illegal people. Should we separate nationals from non nationals? Citizens from non-citizens?  
1	National citizen  
2	EU citizen, but not national  
3	Unlimited residence permit  
4	Limited residence permit, valid for more than 5 years  
5	Limited residence permit, valid for less than 5 years  
6	No residence permit  
99	Other (e.g. currently renewing, don't know)

### <u> Target group (derived from country of origin or self-identification) </u>  
**IN02**  
1	Asians and their descendants  
2	Immigrants from  Turkey and their descendants  
3	Immigrants from North Africa and their descendants  
4	Recent immigrants  
5	Roma  
6	Russian  
7	South Asians and their descendants  
8	Sub-Saharans and people of African descent

In [34]:
# Print data type of variable IN02
print("Data type of IN02:", df_subset_job_seekers['IN02'].dtype)

# Check for missing values in variable IN02
print("Number of missing values in IN02:", df_subset_job_seekers['IN02'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['IN02'].value_counts())

Data type of IN02: float64
Number of missing values in IN02: 0
IN02
5.0    3987
8.0    3732
3.0    2192
2.0    1688
7.0     914
4.0     439
6.0     350
1.0     104
Name: count, dtype: int64

<span style="color:red"><b>Roma???</b></span>  
100% categorical, keep it like this?  
Wtf is recent immigrants? How is that the same type of category as the others?

### <u> Current marrital status </u>  
**S01**

In [36]:
# Print data type of variable S01
print("Data type of S01:", df_subset_job_seekers['S01'].dtype)

# Check for missing values in variable S01
print("Number of missing values in S01:", df_subset_job_seekers['S01'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['S01'].value_counts())

Data type of S01: float64
Number of missing values in S01: 0
S01
1.0     6728
5.0     5124
3.0      792
2.0      392
4.0      264
96.0      91
99.0       9
97.0       6
Name: count, dtype: int64

In [37]:
# Create new variable S01_mod based on condition
df_subset_job_seekers['S01_mod'] = np.where(df_subset_job_seekers['S01'] == 1, 1, 0)

# Print frequency table
print(df_subset_job_seekers['S01_mod'].value_counts())

S01_mod
1    6728
0    6678
Name: count, dtype: int64

### <u> Religion </u>  
**PB01**

<span style="color:red"><b>100% categorical, keep it like this?</b></span>

### <u> Degree of urbanisation </u>  
**DEGURBA**  
1	Densely populated area  
2	Intermediate density area  
3	Thinly populated area  
-2	Not on route

In [40]:
# Print data type of variable DEGURBA
print("Data type of DEGURBA:", df_subset_job_seekers['DEGURBA'].dtype)

# Check for missing values in variable DEGURBA
print("Number of missing values in DEGURBA:", df_subset_job_seekers['DEGURBA'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['DEGURBA'].value_counts())

Data type of DEGURBA: float64
Number of missing values in DEGURBA: 0
DEGURBA
1.0    8233
2.0    2789
3.0    2384
Name: count, dtype: int64

<span style="color:red"><b>Can we flip it and use it as a discrete variable?</b></span>