### READ ME
File created by Leti.  
I'm treating the variables contained in the Feature Importance model run in the file "01_ML". I treated them in order of importance, except for variables of the same group of questions (e.g.: VH01a_1, VH01a_2, VH01a_3...). Results of how the final variable was put together are marked in red, and so are other observations.

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_subset_job_seekers = pd.read_pickle('../01_data/df_subset_job_seekers.pkl')

In [4]:
df_subset_job_seekers.head()

,country,country2,DEGURBA,IN02,HH02,HH03,HH04,HLS02,RA03_1,RA03_2,...,PB10_2,PB11,S01,SI02,SI06,activ,Encount_police_5y,res_stat,id,arop
0,1.0,1.0,1.0,8.0,37.0,1.0,1.0,4.0,4.0,4.0,...,1.0,3.0,1.0,1.0,3.0,1.0,2.0,3.0,165.0,1.0
12,1.0,1.0,1.0,8.0,30.0,1.0,1.0,3.0,1.0,2.0,...,1.0,2.0,1.0,1.0,5.0,1.0,2.0,5.0,317.0,0.0
16,1.0,1.0,1.0,8.0,35.0,1.0,1.0,3.0,4.0,2.0,...,1.0,3.0,1.0,1.0,4.0,1.0,1.0,5.0,321.0,0.0
17,1.0,1.0,1.0,8.0,42.0,1.0,4.0,3.0,3.0,4.0,...,1.0,3.0,1.0,6.0,1.0,2.0,1.0,3.0,322.0,1.0
22,1.0,1.0,1.0,8.0,39.0,1.0,5.0,4.0,3.0,3.0,...,2.0,3.0,5.0,9.0,2.0,7.0,2.0,5.0,327.0,1.0

# <u>Frequency of specific experiences of harassment in country in past 5 years <u>    

In the past 5 years in [COUNTRY] (or since you have been in [COUNTRY], how many times has somebody...?1:

<span style="color:red"><b>New variables:</b></span> Discrete, 0-8. Values 96, 97 and 99 were transformed into 0. Higher number = discrimination lived more times.  
<span style="color:red"><b>Observations:</b></span> There might be high correlation between the variables, should we maybe build a single one from this group of variables?

**VH01a_1:** made offensive or threatening comments to you in person such as insulting you or calling you names?

In [5]:
# Print data type of variable VH01a_1
print("Data type of VH01a_1:", df_subset_job_seekers['VH01a_1'].dtype)

# Check for missing values in variable VH01a_1
print("Number of missing values in VH01a_1:", df_subset_job_seekers['VH01a_1'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['VH01a_1'].value_counts())

Data type of VH01a_1: float64
Number of missing values in VH01a_1: 0
VH01a_1
0.0     8499
1.0     1082
2.0      881
7.0      756
3.0      593
6.0      401
5.0      352
4.0      300
99.0     246
8.0      209
96.0      76
97.0      11
Name: count, dtype: int64

In [6]:
# Create new variable VH01a_1_mod based on conditions
df_subset_job_seekers['VH01a_1_mod'] = df_subset_job_seekers['VH01a_1'].apply(lambda x: 0 if x in [96, 97, 99] else x) ##

# Print frequency table
print(df_subset_job_seekers['VH01a_1_mod'].value_counts())

VH01a_1_mod
0.0    8832
1.0    1082
2.0     881
7.0     756
3.0     593
6.0     401
5.0     352
4.0     300
8.0     209
Name: count, dtype: int64

**VH01a_2:** threatened you with 
violence in person?

In [7]:
# Check data type of variable VH01a_2
print("Data type of VH01a_2:", df_subset_job_seekers['VH01a_2'].dtype)

# Check for missing values in variable VH01a_2
print("Number of missing values in VH01a_2:", df_subset_job_seekers['VH01a_2'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['VH01a_2'].value_counts())

Data type of VH01a_2: float64
Number of missing values in VH01a_2: 0
VH01a_2
0.0     11580
1.0       737
2.0       335
3.0       203
7.0       124
5.0        94
99.0       84
6.0        80
4.0        77
96.0       53
8.0        36
97.0        3
Name: count, dtype: int64

In [9]:
# Create new variable VH01a_2_mod based on conditions
df_subset_job_seekers['VH01a_2_mod'] = df_subset_job_seekers['VH01a_2'].apply(lambda x: 0 if x in [96, 97, 99] else x) ##

# Print frequency table
print(df_subset_job_seekers['VH01a_2_mod'].value_counts())

VH01a_2_mod
0.0    11720
1.0      737
2.0      335
3.0      203
7.0      124
5.0       94
6.0       80
4.0       77
8.0       36
Name: count, dtype: int64

**VH01a_3:** made offensive gestures to you or stared at you inappropriately?

In [10]:
# Check data type of variable VH01a_3
print("Data type of VH01a_3:", df_subset_job_seekers['VH01a_3'].dtype)

# Check for missing values in variable VH01a_3
print("Number of missing values in VH01a_3:", df_subset_job_seekers['VH01a_3'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['VH01a_3'].value_counts())

Data type of VH01a_3: float64
Number of missing values in VH01a_3: 0
VH01a_3
0.0     8406
7.0     1023
1.0      766
2.0      766
3.0      554
6.0      466
8.0      430
5.0      392
4.0      277
99.0     251
96.0      67
97.0       8
Name: count, dtype: int64

In [11]:
# Create new variable VH01a_3_mod based on conditions
df_subset_job_seekers['VH01a_3_mod'] = df_subset_job_seekers['VH01a_3'].apply(lambda x: 0 if x in [96, 97, 99] else x) ##

# Print frequency table
print(df_subset_job_seekers['VH01a_3_mod'].value_counts())

VH01a_3_mod
0.0    8732
7.0    1023
1.0     766
2.0     766
3.0     554
6.0     466
8.0     430
5.0     392
4.0     277
Name: count, dtype: int64

**VH01a_4:** sent you emails or text 
messages (SMS) that wer 
offensive or threatening?

In [12]:
# Check data type of variable VH01a_4
print("Data type of VH01a_4:", df_subset_job_seekers['VH01a_4'].dtype)

# Check for missing values in variable VH01a_4
print("Number of missing values in VH01a_4:", df_subset_job_seekers['VH01a_4'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['VH01a_4'].value_counts())

Data type of VH01a_4: float64
Number of missing values in VH01a_4: 0
VH01a_4
0.0     12771
1.0       172
2.0       104
99.0       67
7.0        67
3.0        53
97.0       40
6.0        35
5.0        32
96.0       27
4.0        23
8.0        15
Name: count, dtype: int64

In [13]:
# Create new variable VH01a_4_mod based on conditions
df_subset_job_seekers['VH01a_4_mod'] = df_subset_job_seekers['VH01a_4'].apply(lambda x: 0 if x in [96, 97, 99] else x) ##

# Print frequency table
print(df_subset_job_seekers['VH01a_4_mod'].value_counts())

VH01a_4_mod
0.0    12905
1.0      172
2.0      104
7.0       67
3.0       53
6.0       35
5.0       32
4.0       23
8.0       15
Name: count, dtype: int64

**VH01a_5:**  posted offensive 
comments about you o 
the internet, for examp e
on Facebook or Twitter?]?

In [14]:
# Check data type of variable VH01a_5
print("Data type of VH01a_5:", df_subset_job_seekers['VH01a_5'].dtype)

# Check for missing values in variable VH01a_5
print("Number of missing values in VH01a_5:", df_subset_job_seekers['VH01a_5'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['VH01a_5'].value_counts())

Data type of VH01a_5: float64
Number of missing values in VH01a_5: 0
VH01a_5
0.0     12673
1.0       147
99.0      143
7.0        95
2.0        86
97.0       70
3.0        51
6.0        40
5.0        33
8.0        30
4.0        20
96.0       18
Name: count, dtype: int64

In [15]:
# Create new variable VH01a_5_mod based on conditions
df_subset_job_seekers['VH01a_5_mod'] = df_subset_job_seekers['VH01a_5'].apply(lambda x: 0 if x in [96, 97, 99] else x) ##

# Print frequency table
print(df_subset_job_seekers['VH01a_5_mod'].value_counts())

VH01a_5_mod
0.0    12904
1.0      147
7.0       95
2.0       86
3.0       51
6.0       40
5.0       33
8.0       30
4.0       20
Name: count, dtype: int64

<span style="color:red"><b>Check new variables:</b></span>

In [16]:
col_check = ['VH01a_1_mod', 'VH01a_1', 'VH01a_2_mod', 'VH01a_2', 'VH01a_3_mod', 'VH01a_3', 'VH01a_4_mod', 'VH01a_4', 'VH01a_5_mod', 'VH01a_5']
df_subset_job_seekers[col_check].head(15)

,VH01a_1_mod,VH01a_1,VH01a_2_mod,VH01a_2,VH01a_3_mod,VH01a_3,VH01a_4_mod,VH01a_4,VH01a_5_mod,VH01a_5
0,2.0,2.0,1.0,1.0,0.0,99.0,0.0,99.0,0.0,99.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,7.0,7.0,0.0,0.0,7.0,7.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,0.0
25,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,6.0,6.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,0.0
35,4.0,4.0,0.0,0.0,6.0,6.0,0.0,0.0,0.0,0.0
38,3.0,3.0,0.0,0.0,7.0,7.0,0.0,0.0,0.0,0.0
41,2.0,2.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,0.0
42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### <u>Extent of discrimination on different grounds in country</u>
For each of the following types of discrimination, could you please tell me whether, in your 
opinion, it is very rare, fairly rare, fairly widespread, or very widespread in [COUNTRY]  
<span style="color:red"><b>New variables:</b></span> Discrete, 0-4. Values 96, 97, 98 and 99 were transformed into 0. Higher number = discrimination more widespread.  
<span style="color:red"><b>Problem (not big):</b></span> No 98 in the codebook for this variable (but it's probably the same as others).

**RA03_1:** Discrimination on the basis of skin colour

In [17]:
# Print data type of variable RA03_1
print("Data type of RA03_1:", df_subset_job_seekers['RA03_1'].dtype)

# Check for missing values in variable RA03_1
print("Number of missing values in RA03_1:", df_subset_job_seekers['RA03_1'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['RA03_1'].value_counts())

Data type of RA03_1: float64
Number of missing values in RA03_1: 0
RA03_1
3.0     3902
2.0     3286
1.0     3137
4.0     1974
5.0      908
99.0     139
98.0      24
97.0      18
96.0      18
Name: count, dtype: int64

In [18]:
# Create new variable RA03_1_mod based on conditions
df_subset_job_seekers['RA03_1_mod'] = df_subset_job_seekers['RA03_1'].apply(lambda x: 0 if x in [5, 96, 97, 98, 99] else x)

# Print frequency table
print(df_subset_job_seekers['RA03_1_mod'].value_counts())

RA03_1_mod
3.0    3902
2.0    3286
1.0    3137
4.0    1974
0.0    1107
Name: count, dtype: int64

**RA03_2:** Discrimination on the basis of ethnic origin or immigrant background

In [19]:
# Print data type of variable RA03_2
print("Data type of RA03_2:", df_subset_job_seekers['RA03_2'].dtype)

# Check for missing values in variable RA03_2
print("Number of missing values in RA03_2:", df_subset_job_seekers['RA03_2'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['RA03_2'].value_counts())

Data type of RA03_2: float64
Number of missing values in RA03_2: 0
RA03_2
3.0     4211
2.0     3170
1.0     2771
4.0     2262
5.0      774
99.0     138
97.0      40
98.0      21
96.0      19
Name: count, dtype: int64

In [20]:
# Create new variable RA03_2_mod based on conditions
df_subset_job_seekers['RA03_2_mod'] = df_subset_job_seekers['RA03_2'].apply(lambda x: 0 if x in [5, 96, 97, 98, 99] else x)

# Print frequency table
print(df_subset_job_seekers['RA03_2_mod'].value_counts())

RA03_2_mod
3.0    4211
2.0    3170
1.0    2771
4.0    2262
0.0     992
Name: count, dtype: int64

**RA03_3:** Discrimination on the basis of religion or religious beliefs

In [76]:
# Print data type of variable RA03_3
print("Data type of RA03_3:", df_subset_job_seekers['RA03_3'].dtype)

# Check for missing values in variable RA03_2
print("Number of missing values in RA03_3:", df_subset_job_seekers['RA03_3'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['RA03_3'].value_counts())

Data type of RA03_3: float64
Number of missing values in RA03_3: 0
RA03_3
1.0     4187
2.0     3006
3.0     2593
4.0     1845
5.0     1390
99.0     309
97.0      32
98.0      25
96.0      19
Name: count, dtype: int64

In [77]:
# Create new variable RA03_3_mod based on conditions
df_subset_job_seekers['RA03_3_mod'] = df_subset_job_seekers['RA03_3'].apply(lambda x: 0 if x in [5, 96, 97, 98, 99] else x)

# Print frequency table
print(df_subset_job_seekers['RA03_3_mod'].value_counts())

RA03_3_mod
1.0    4187
2.0    3006
3.0    2593
4.0    1845
0.0    1775
Name: count, dtype: int64

### <u>Main source of income of household</u>  
And which of these is the main source of income in your household?  
**SI02**

<span style="color:red"><b>DEAL WITH MISSINGNESS! Wait for Gayatri to see if we can use a different variable.</b></span>

In [23]:
# Print data type of variable SI02
print("Data type of SI02:", df_subset_job_seekers['SI02'].dtype)

# Check for missing values in variable SI02
print("Number of missing values in SI02:", df_subset_job_seekers['SI02'].isnull().sum())
print("Number of missing values in SI01:", df_subset_job_seekers['SI02'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['SI02'].value_counts())

Data type of SI02: float64
Number of missing values in SI02: 3863
Number of missing values in SI01: 3863
SI02
1.0     4958
8.0     1212
6.0     1003
2.0      523
3.0      521
5.0      421
7.0      387
4.0      190
9.0      148
96.0      77
99.0      73
10.0      16
97.0      14
Name: count, dtype: int64

In [24]:
# Create new variables SI02_inc_work and SI02_inc_ben based on conditions
df_subset_job_seekers['SI02_inc_work'] = df_subset_job_seekers['SI02'].apply(lambda x: 1 if x in [1, 2, 3] else 0) # salary, self-employement or occasional work
df_subset_job_seekers['SI02_inc_ben'] = df_subset_job_seekers['SI02'].apply(lambda x: 1 if x in [4, 5, 6, 7, 8] else 0) # education allowance, pensions, unemployment benefits, child benefits, other social benefits

# Print frequency table
print(df_subset_job_seekers['SI02_inc_work'].value_counts())
print(df_subset_job_seekers['SI02_inc_ben'].value_counts())

SI02_inc_work
0    7404
1    6002
Name: count, dtype: int64
SI02_inc_ben
0    10193
1     3213
Name: count, dtype: int64

### <u> Ability of household to make ends meet </u>  

<span style="color:red"><b>New variable:</b></span> Binary.  
**SI06:** Thinking of your household’s total income, is your household able to make ends meet?

In [25]:
# Print data type of variable SI06
print("Data type of SI06:", df_subset_job_seekers['SI06'].dtype)

# Check for missing values in variable SI06
print("Number of missing values in SI06:", df_subset_job_seekers['SI06'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['SI06'].value_counts())

Data type of SI06: float64
Number of missing values in SI06: 0
SI06
1.0     3934
3.0     3192
2.0     2776
4.0     2102
5.0      945
6.0      262
96.0      95
99.0      93
97.0       7
Name: count, dtype: int64

In [26]:
# Create new variable SI06_mod based on conditions
df_subset_job_seekers['SI06_mod'] = df_subset_job_seekers['SI06'].apply(lambda x: 1 if x >= 4 and x <= 6 else 0) # fairly easily, easily or very easily

# Print frequency table
print(df_subset_job_seekers['SI06_mod'].value_counts())

SI06_mod
0    10097
1     3309
Name: count, dtype: int64

### <u>Housing tenure</u>  
<span style="color:red"><b>New variable:</b></span> Binary.  
**HLS02:** Do you own or rent your accommodation?

In [27]:
# Print data type of variable HLS02
print("Data type of HLS02:", df_subset_job_seekers['HLS02'].dtype)

# Check for missing values in variable HLS02
print("Number of missing values in HLS02:", df_subset_job_seekers['HLS02'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['HLS02'].value_counts())

Data type of HLS02: float64
Number of missing values in HLS02: 2
HLS02
4.0     4212
3.0     4188
1.0     2667
2.0     1048
5.0      985
6.0      178
96.0      84
99.0      39
97.0       3
Name: count, dtype: int64

In [28]:
# Create new variable HLS02_mod based on conditions
df_subset_job_seekers['HLS02_mod'] = df_subset_job_seekers['HLS02'].apply(lambda x: 1 if x == 1 or x == 2 else 0) # own with or without mortgage

# Print frequency table
print(df_subset_job_seekers['HLS02_mod'].value_counts())

HLS02_mod
0    9691
1    3715
Name: count, dtype: int64

### <u>Subjective assessment of own health condition</u>  
<span style="color:red"><b>New variable:</b></span> Discrete, 0-5. Values 96, 97 and 99 were transformed into 0. Higher number = better health.  
**DHE01:** How is your health in general? Is it…

In [29]:
# Print data type of variable DHE01
print("Data type of DHE01:", df_subset_job_seekers['DHE01'].dtype)

# Check for missing values in variable DHE01
print("Number of missing values in DHE01:", df_subset_job_seekers['DHE01'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['DHE01'].value_counts())

Data type of DHE01: float64
Number of missing values in DHE01: 0
DHE01
1.0     5642
2.0     5230
3.0     1807
4.0      596
5.0      120
96.0       7
99.0       3
97.0       1
Name: count, dtype: int64

In [30]:
# Define the mapping dictionary for the new variable
map_DHE01 = {96: 0, 97: 0, 99: 0, 1: 5, 5: 1, 2: 4, 4: 2}

# Create new variable DHE01_mod based on the mapping
df_subset_job_seekers['DHE01_mod'] = df_subset_job_seekers['DHE01'].map(map_DHE01).fillna(df_subset_job_seekers['DHE01'])
print(df_subset_job_seekers['DHE01_mod'].value_counts())
# Growing from non-existing answer (0) and very bad health (1) to very good health (5)

DHE01_mod
5.0    5642
4.0    5230
3.0    1807
2.0     596
1.0     120
0.0      11
Name: count, dtype: int64

### <u>Ethnic or immigrant background of residents of neighbourhood</u>  
<span style="color:red"><b>New variable:</b></span> Binary. Is the majority of your neighbourhood from the same ethnic background as you? Yes or no.  
**PB11:** In the neighbourhood where you live, how many of the residents would you say are of the same: [TAILORED TO TARGET GROUP CATEGORIES ethnic or immigrant background / Roma background / ethnic minority background] as you: all of the residents, most of them, some or none of them?

In [31]:
# Print data type of variable PB11
print("Data type of PB11:", df_subset_job_seekers['PB11'].dtype)

# Check for missing values in variable PB11
print("Number of missing values in PB11:", df_subset_job_seekers['PB11'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['PB11'].value_counts())

Data type of PB11: float64
Number of missing values in PB11: 0
PB11
3.0     6624
2.0     4482
1.0     1304
4.0      671
99.0     288
97.0      20
96.0      17
Name: count, dtype: int64

In [32]:
# New variable: is the majority of your neighbourhood from the same ethnic background as you?
# Create new variable PB11_mod based on conditions
df_subset_job_seekers['PB11_mod'] = df_subset_job_seekers['PB11'].apply(lambda x: 1 if x == 1 or x == 2 else 0) # all or most of the neighbourhood

# Print frequency table
print(df_subset_job_seekers['PB11_mod'].value_counts())

PB11_mod
0    7620
1    5786
Name: count, dtype: int64

In [33]:
## UNUSED ##
# New variable 2: is your neighbourhood of mixed ethnicity?
# Create new variable PB11_mod2 based on conditions
# df_subset_job_seekers['PB11_mod2'] = df_subset_job_seekers['PB11'].apply(lambda x: 1 if x == 2 or x == 3 else 0) # all or most of the neighbourhood

# Print frequency table
# print(df_subset_job_seekers['PB11_mod2'].value_counts())

### <u>Employment situation</u>  

<span style="color:red"><b>New variables:</b></span> Binaries. Employed or nor, student or not.  
<span style="color:red"><b>Observations:</b></span> Almost the same info as variable 'activ'. I'm keeping this one because I can separate who is a student. Also important to note I'm considering military a job, even though in the other variable it's considered "inactive".  
**HH04:** Employment situation  
1	employed  
2	unemploy   d
3	not working due to illness or disabi   y 
4	domestiow   rk 
6et    ired
7	other inactive (education, military service, her)

In [34]:
# Print data type of variable HH04
print("Data type of HH04:", df_subset_job_seekers['HH04'].dtype)

# Check for missing values in variable HH04
print("Number of missing values in HH04:", df_subset_job_seekers['HH04'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['HH04'].value_counts())

Data type of HH04: float64
Number of missing values in HH04: 0
HH04
1.0     5155
4.0     4861
5.0     1213
7.0      959
2.0      540
8.0      215
10.0     194
6.0      193
3.0       33
9.0       20
96.0      20
99.0       2
97.0       1
Name: count, dtype: int64

In [35]:
# Create new variables HH04_empl and HH04_stud based on conditions
df_subset_job_seekers['HH04_empl'] = df_subset_job_seekers['HH04'].apply(lambda x: 1 if x in [1, 2, 9] else 0) # employed, self-employed or military
df_subset_job_seekers['HH04_stud'] = np.where(df_subset_job_seekers['HH04'] == 5, 1, 0) # student

# Print frequency table for HH04_empl
print("Frequency table for HH04_empl:")
print(df_subset_job_seekers['HH04_empl'].value_counts())

# Print frequency table for HH04_stud
print("\nFrequency table for HH04_stud:")
print(df_subset_job_seekers['HH04_stud'].value_counts())

Frequency table for HH04_empl:
HH04_empl
0    7691
1    5715
Name: count, dtype: int64

Frequency table for HH04_stud:
HH04_stud
0    12193
1     1213
Name: count, dtype: int64

### <u> Awareness of experiences of violence among friends and family because of ethnic minority background in past 12 months </u>  
And in the past 12 months, have you heard of anyone in your circle of family or friends being…  

**VV10_1:** insulted or called names because of their [TAILORED TO TARGET GROUP CATEGORIES ethnic or immigrant background / Roma background / ethnic minority background]?

In [36]:
# Print data type of variable VV10_1
print("Data type of VV10_1:", df_subset_job_seekers['VV10_1'].dtype)

# Check for missing values in variable VV10_1
print("Number of missing values in VV10_1:", df_subset_job_seekers['VV10_1'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['VV10_1'].value_counts())

Data type of VV10_1: float64
Number of missing values in VV10_1: 0
VV10_1
2.0     8833
1.0     4194
99.0     291
96.0      43
98.0      37
97.0       8
Name: count, dtype: int64

In [37]:
# Create new variable VV10_1_mod based on conditions
df_subset_job_seekers['VV10_1_mod'] = df_subset_job_seekers['VV10_1'].apply(lambda x: 1 if x in [1] else 0)

# Print frequency table
print("Frequency table for VV10_1_mod:")
print(df_subset_job_seekers['VV10_1_mod'].value_counts())

Frequency table for VV10_1_mod:
VV10_1_mod
0    9212
1    4194
Name: count, dtype: int64

### <u> Residence / citizenship status </u>  

<span style="color:red"><b>New variable:</b></span> Binary. From EU or not.  
<span style="color:red"><b>Wait for Gayatri to see if we can use a different variable.</b></span>  
**res_stat:** Residence / citizenship status  
1	National citizen  
2	EU citizen, but not national  
3	Unlimited residence permit  
4	Limited residence permit, valid for more than 5 years  
5	Limited residence permit, valid for less than 5 years  
6	No residence permit  
99	Other (e.g. currently renewing, don't know)

In [38]:
# Print data type of variable res_stat
print("Data type of res_stat:", df_subset_job_seekers['res_stat'].dtype)

# Check for missing values in variable res_stat
print("Number of missing values in res_stat:", df_subset_job_seekers['res_stat'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['res_stat'].value_counts())

Data type of res_stat: float64
Number of missing values in res_stat: 3987
res_stat
1.0     4196
5.0     2299
3.0     1417
99.0     629
6.0      366
2.0      288
4.0      224
Name: count, dtype: int64

### <u> Target group (derived from country of origin or self-identification) </u>  

<span style="color:red"><b>Keep it as a categorical variable.</b></span>  
**IN02**  
1	Asians and their descendants  
2	Immigrants from  Turkey and their descendants  
3	Immigrants from North Africa and their descendants  
4	Recent immigrants  
5	Roma  
6	Russian  
7	South Asians and their descendants  
8	Sub-Saharans and people of African descent

In [39]:
# Print data type of variable IN02
print("Data type of IN02:", df_subset_job_seekers['IN02'].dtype)

# Check for missing values in variable IN02
print("Number of missing values in IN02:", df_subset_job_seekers['IN02'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['IN02'].value_counts())

Data type of IN02: float64
Number of missing values in IN02: 0
IN02
5.0    3987
8.0    3732
3.0    2192
2.0    1688
7.0     914
4.0     439
6.0     350
1.0     104
Name: count, dtype: int64

### <u> Current marrital status </u>  

<span style="color:red"><b>New variable:</b></span> Binary. Married or not. Values 96, 97 and 99 were added to zero.  
**S01:** What is your current marital status?

In [40]:
# Print data type of variable S01
print("Data type of S01:", df_subset_job_seekers['S01'].dtype)

# Check for missing values in variable S01
print("Number of missing values in S01:", df_subset_job_seekers['S01'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['S01'].value_counts())

Data type of S01: float64
Number of missing values in S01: 0
S01
1.0     6728
5.0     5124
3.0      792
2.0      392
4.0      264
96.0      91
99.0       9
97.0       6
Name: count, dtype: int64

In [41]:
# Create new variable S01_mod based on condition
df_subset_job_seekers['S01_mod'] = np.where(df_subset_job_seekers['S01'] == 1, 1, 0)

# Print frequency table
print(df_subset_job_seekers['S01_mod'].value_counts())

S01_mod
1    6728
0    6678
Name: count, dtype: int64

### <u> Religion </u>  

<span style="color:red"><b>Keep it as a categorial variable. New variable: </b></span> Categorical, but 96, 97 and 99 were added to zero.  
<span style="color:red"><b>Observations: </b></span> We don't really have all the religions in the answers, kinda weird variable.  
**PB01:** What is your religion?

In [42]:
# Print data type of variable PB01
print("Data type of PB01:", df_subset_job_seekers['PB01'].dtype)

# Check for missing values in variable PB01
print("Number of missing values in PB01:", df_subset_job_seekers['PB01'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['PB01'].value_counts())

Data type of PB01: float64
Number of missing values in PB01: 0
PB01
2.0     6384
1.0     5528
0.0     1095
99.0     399
Name: count, dtype: int64

In [43]:
# Create new variable PB01_mod based on conditions
df_subset_job_seekers['PB01_mod'] = df_subset_job_seekers['PB01'].apply(lambda x: 0 if x in [96, 97, 99] else x)

# Print frequency table
print(df_subset_job_seekers['PB01_mod'].value_counts())

PB01_mod
2.0    6384
1.0    5528
0.0    1494
Name: count, dtype: int64

### <u> Degree of urbanisation </u>  

<span style="color:red"><b>New variable:</b></span> Discrete. Higher number = more urbanization.  
**DEGURBA** (original)  
1	Densely populated area  
2	Intermediate density area  
3	Thinly populated area  
-2	Not on route

In [44]:
# Print data type of variable DEGURBA
print("Data type of DEGURBA:", df_subset_job_seekers['DEGURBA'].dtype)

# Check for missing values in variable DEGURBA
print("Number of missing values in DEGURBA:", df_subset_job_seekers['DEGURBA'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['DEGURBA'].value_counts())

Data type of DEGURBA: float64
Number of missing values in DEGURBA: 0
DEGURBA
1.0    8233
2.0    2789
3.0    2384
Name: count, dtype: int64

In [45]:
# Define the mapping dictionary for the new variable
map_DEGURBA = {1:3, 3:1}

# Create new variable DEGURBA_mod based on the mapping
df_subset_job_seekers['DEGURBA_mod'] = df_subset_job_seekers['DEGURBA'].map(map_DEGURBA).fillna(df_subset_job_seekers['DEGURBA'])
print(df_subset_job_seekers['DEGURBA_mod'].value_counts())

DEGURBA_mod
3.0    8233
2.0    2789
1.0    2384
Name: count, dtype: int64

### <u> Awareness of support organisations in country </u>

<span style="color:red"><b>New variable:</b></span> Binary. Knows or doesn't know. Values 96, 97 and 99 were added to zero.  
<span style="color:red"><b>Observations:</b></span> I'm not convinced this variable is important.  
**RA04:** Do you know of any organisations in [COUNTRY] that offer support or advice to people who have been discriminated against – for whatever reason?

In [46]:
# Print data type of variable RA04
print("Data type of RA04:", df_subset_job_seekers['RA04'].dtype)

# Check for missing values in variable RA04
print("Number of missing values in RA04:", df_subset_job_seekers['RA04'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['RA04'].value_counts())

Data type of RA04: float64
Number of missing values in RA04: 0
RA04
2.0     10103
1.0      2903
99.0      348
97.0       39
96.0       13
Name: count, dtype: int64

In [47]:
# Create new variable RA04_mod based on condition
df_subset_job_seekers['RA04_mod'] = np.where(df_subset_job_seekers['RA04'] == 1, 1, 0)

# Print frequency table
print(df_subset_job_seekers['RA04_mod'].value_counts())

RA04_mod
0    10503
1     2903
Name: count, dtype: int64

### <u> Stopped by the police in the past 5 years </u>

<span style="color:red"><b>New variable:</b></span> Binary. Was stopped or wasn't, without perception of racial profiling.  
<span style="color:red"><b>I SUGGEST WE DON'T USE IT</b></span> Variable DO27 is more objective (it appears later here in this file).  
**Encount_police_5y:**  
0	Not stopped  
1	Stopped, with perceived ethnic profiling  
2	Stopped but no ethnic profiling

In [48]:
# Print data type of variable Encount_police_5y
print("Data type of Encount_police_5y:", df_subset_job_seekers['Encount_police_5y'].dtype)

# Check for missing values in variable Encount_police_5y
print("Number of missing values in Encount_police_5y:", df_subset_job_seekers['Encount_police_5y'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['Encount_police_5y'].value_counts())

Data type of Encount_police_5y: float64
Number of missing values in Encount_police_5y: 0
Encount_police_5y
0.0    9141
2.0    2340
1.0    1925
Name: count, dtype: int64

In [49]:
# Create new variable Encount_police_5y_mod based on condition
df_subset_job_seekers['Encount_police_5y_mod'] = np.where(df_subset_job_seekers['Encount_police_5y'] == 0, 0, 1)

# Print frequency table
print(df_subset_job_seekers['Encount_police_5y_mod'].value_counts())

Encount_police_5y_mod
0    9141
1    4265
Name: count, dtype: int64

### <u> Currently looking for work </u>

<span style="color:red"><b>New variable:</b></span> Binary. Is looking or isn't. Values 96, 97, 98 and 99 were added to zero.  
**EU05:** Are you currently looking for work?

In [50]:
# Print data type of variable EU05
print("Data type of EU05:", df_subset_job_seekers['EU05'].dtype)

# Check for missing values in variable EU05
print("Number of missing values in EU05:", df_subset_job_seekers['EU05'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['EU05'].value_counts())

Data type of EU05: float64
Number of missing values in EU05: 0
EU05
1.0     7047
2.0     6174
98.0     137
96.0      34
99.0      13
97.0       1
Name: count, dtype: int64

In [51]:
# Create new variable EU05_mod based on condition
df_subset_job_seekers['EU05_mod'] = np.where(df_subset_job_seekers['EU05'] == 1, 1, 0)

# Print frequency table
print(df_subset_job_seekers['EU05_mod'].value_counts())

EU05_mod
1    7047
0    6359
Name: count, dtype: int64

### <u> Interethnic relationships </u>

<span style="color:red"><b>New variables:</b></span> Binary. Yes or no. Values 96, 97 and 98 were added to zero.  
<span style="color:red"><b>Observations:</b></span> There might be high correlation between the variables, we could use only one of them.  
Do you have friends who…  
**PB10_1:** are of another ethnic minority 
background than you?

In [52]:
# Print data type of variable PB10_1
print("Data type of PB10_1:", df_subset_job_seekers['PB10_1'].dtype)

# Check for missing values in variable PB10_1
print("Number of missing values in PB10_1:", df_subset_job_seekers['PB10_1'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['PB10_1'].value_counts())

Data type of PB10_1: float64
Number of missing values in PB10_1: 0
PB10_1
1.0     9798
2.0     3432
97.0      80
99.0      72
96.0      24
Name: count, dtype: int64

In [53]:
# Create new variable PB10_1_mod based on condition
df_subset_job_seekers['PB10_1_mod'] = np.where(df_subset_job_seekers['PB10_1'] == 1, 1, 0)

# Print frequency table
print(df_subset_job_seekers['PB10_1_mod'].value_counts())

PB10_1_mod
1    9798
0    3608
Name: count, dtype: int64

**PB10_2:** do not have a minority 
background 
I.E. FROM THE GENERA/
MAJORITY POPULATION

In [54]:
# Print data type of variable PB10_2
print("Data type of PB10_2:", df_subset_job_seekers['PB10_2'].dtype)

# Check for missing values in variable PB10_2
print("Number of missing values in PB10_2:", df_subset_job_seekers['PB10_2'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['PB10_2'].value_counts())

Data type of PB10_2: float64
Number of missing values in PB10_2: 0
PB10_2
1.0     10308
2.0      2873
97.0       98
99.0       97
96.0       30
Name: count, dtype: int64

In [55]:
# Create new variable PB10_2_mod based on condition
df_subset_job_seekers['PB10_2_mod'] = np.where(df_subset_job_seekers['PB10_2'] == 1, 1, 0)

# Print frequency table
print(df_subset_job_seekers['PB10_2_mod'].value_counts())

PB10_2_mod
1    10308
0     3098
Name: count, dtype: int64

### <u> Trying to rent or buy an apartment or a house in country in past 5 years </u>

<span style="color:red"><b>New variable:</b></span> Binary. Yes or no. Values 96, 97 and 99 were added to zero.  
**DHO01:** In the past 5 years in [COUNTRY] (or since you have been in [COUNTRY]), 
have you ever tried to rent or buy an apartment or a house  
IF LESS THAN 5 YEARS IN COUNTRY, “SINCE YOU’VE BEEN IN THE COUNTRY”?

In [56]:
# Print data type of variable DHO01
print("Data type of DHO01:", df_subset_job_seekers['DHO01'].dtype)

# Check for missing values in variable DHO01
print("Number of missing values in DHO01:", df_subset_job_seekers['DHO01'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['DHO01'].value_counts())

Data type of DHO01: float64
Number of missing values in DHO01: 0
DHO01
2.0     8148
1.0     5216
96.0      17
97.0      14
99.0      11
Name: count, dtype: int64

In [57]:
# Create new variable DHO01_mod based on condition
df_subset_job_seekers['DHO01_mod'] = np.where(df_subset_job_seekers['DHO01'] == 1, 1, 0)

# Print frequency table
print(df_subset_job_seekers['DHO01_mod'].value_counts())

DHO01_mod
0    8190
1    5216
Name: count, dtype: int64

### <u> Gender </u>

<span style="color:red"><b>New variable:</b></span> Keep it as binary. 0 = male, 1 = female.  
**HH03**

In [58]:
# Print data type of variable HH03
print("Data type of HH03:", df_subset_job_seekers['HH03'].dtype)

# Check for missing values in variable HH03
print("Number of missing values in HH03:", df_subset_job_seekers['HH03'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['HH03'].value_counts())

Data type of HH03: float64
Number of missing values in HH03: 0
HH03
1.0    7768
2.0    5638
Name: count, dtype: int64

In [59]:
# Create new variable HH03_mod based on condition
df_subset_job_seekers['HH03_mod'] = np.where(df_subset_job_seekers['HH03'] == 2, 1, 0)

# Print frequency table
print(df_subset_job_seekers['HH03_mod'].value_counts())

HH03_mod
0    7768
1    5638
Name: count, dtype: int64

### <u> Parent or guardian of child(ren) within national compulsory school age range </u>

<span style="color:red"><b>New variable:</b></span> Binary. Do you have kids in school age range? Yes or no. Values 96 and 97 were added to zero.  
**DE06:** Are you the parent or guardian of a child or children aged between [NATIONAL COMPULSORY SCHOOL AGE RANGE] living in [COUNTRY]?

In [60]:
# Print data type of variable DE06
print("Data type of DE06:", df_subset_job_seekers['DE06'].dtype)

# Check for missing values in variable DE06
print("Number of missing values in DE06:", df_subset_job_seekers['DE06'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['DE06'].value_counts())

Data type of DE06: float64
Number of missing values in DE06: 0
DE06
2.0     8775
1.0     4608
96.0      16
97.0       7
Name: count, dtype: int64

In [61]:
# Create new variable DE06_mod based on condition
df_subset_job_seekers['DE06_mod'] = np.where(df_subset_job_seekers['DE06'] == 1, 1, 0)

# Print frequency table
print(df_subset_job_seekers['DE06_mod'].value_counts())

DE06_mod
0    8798
1    4608
Name: count, dtype: int64

### <u> Health insurance coverage </u>

<span style="color:red"><b>New variable:</b></span> Binary. Yes or no. Values 96, 97 and 99 were added to zero.  
**DHE04:** Does the [NATIONAL BASIC HEALTH INSURANCE SCHEME] currently cover your health care expenses?

In [62]:
# Print data type of variable DHE04
print("Data type of DHE04:", df_subset_job_seekers['DHE04'].dtype)

# Check for missing values in variable DHE04
print("Number of missing values in DHE04:", df_subset_job_seekers['DHE04'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['DHE04'].value_counts())

Data type of DHE04: float64
Number of missing values in DHE04: 0
DHE04
1.0     11009
2.0      1979
99.0      299
97.0       76
96.0       43
Name: count, dtype: int64

In [63]:
# Create new variable DHE04_mod based on condition
df_subset_job_seekers['DHE04_mod'] = np.where(df_subset_job_seekers['DHE04'] == 1, 1, 0)

# Print frequency table
print(df_subset_job_seekers['DHE04_mod'].value_counts())

DHE04_mod
1    11009
0     2397
Name: count, dtype: int64

### <u> Limitations in daily activities in past 6 month </u>

<span style="color:red"><b>New variable:</b></span> Discrete. From 0-3. Higher number = less limitations (higher is better).  
**DHE03:** For at least the past six months, to what extent have you been limited because of a health problem in activities people usually do? Would you say you have been…?

In [64]:
# Print data type of variable DHE03
print("Data type of DHE03:", df_subset_job_seekers['DHE03'].dtype)

# Check for missing values in variable DHE03
print("Number of missing values in DHE03:", df_subset_job_seekers['DHE03'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['DHE03'].value_counts())

Data type of DHE03: float64
Number of missing values in DHE03: 0
DHE03
3.0     11180
2.0      1638
1.0       521
96.0       35
99.0       22
97.0       10
Name: count, dtype: int64

In [65]:
# Define the mapping dictionary for the new variable
map_DHE03 = {96:3, 97:3, 99:3}

# Create new variable DHE03_mod based on the mapping
df_subset_job_seekers['DHE03_mod'] = df_subset_job_seekers['DHE03'].map(map_DHE03).fillna(df_subset_job_seekers['DHE03'])
print(df_subset_job_seekers['DHE03_mod'].value_counts())

DHE03_mod
3.0    11247
2.0     1638
1.0      521
Name: count, dtype: int64

### <u> Longstanding illness or health problem </u>

<span style="color:red"><b>New variables:</b></span> Binary. Yes or no. Values 96, 97 and 98 were added to zero.  
<span style="color:red"><b>Observations:</b></span> There might be high correlation between the DHE variables, we could use only one of them or merge them somewhow.  
**DHE02:** Do you have any longstanding illness or health problem? LONGSTANDING MEANS ONE THAT LASTS (OR WILL LAST) 6 MONTHS OR MORE, OR THAT IT REGULARLY REAPPEARS

In [66]:
# Print data type of variable DHE02
print("Data type of DHE02:", df_subset_job_seekers['DHE02'].dtype)

# Check for missing values in variable DHE02
print("Number of missing values in DHE02:", df_subset_job_seekers['DHE02'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['DHE02'].value_counts())

Data type of DHE02: float64
Number of missing values in DHE02: 0
DHE02
2.0     11299
1.0      2033
96.0       48
99.0       20
97.0        6
Name: count, dtype: int64

In [67]:
# Create new variable DHE02_mod based on condition
df_subset_job_seekers['DHE02_mod'] = np.where(df_subset_job_seekers['DHE02'] == 1, 1, 0)

# Print frequency table
print(df_subset_job_seekers['DHE02_mod'].value_counts())

DHE02_mod
0    11373
1     2033
Name: count, dtype: int64

### <u> At risk of poverty after social transfers </u>

<span style="color:red"><b>Keep it as it is:</b></span> Binary.  
<span style="color:red"><b>DEAL WITH MISSINGNESS. Gayatri should look for a better variable.</b></span>  
**arop**

In [68]:
# Print data type of variable arop
print("Data type of arop:", df_subset_job_seekers['arop'].dtype)

# Check for missing values in variable arop
print("Number of missing values in arop:", df_subset_job_seekers['arop'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['arop'].value_counts())

Data type of arop: float64
Number of missing values in arop: 2700
arop
1.0    7411
0.0    3295
Name: count, dtype: int64

### <u> Experiences of being stopped, searched or questioned by police in country in past 5 years </u>

<span style="color:red"><b>New variables:</b></span> Binary. Yes or no. Values 96, 97 and 98 were added to zero.  
**DO27:** In the past 5 years in [COUNTRY] (or since you have been in [COUNTRY]), have you ever been stopped, searched, or questioned by the police? IF LESS THAN 5 YEARS IN COUNTRY, “SINCE YOU’VE BEEN IN THE COUNTRY”

In [69]:
# Print data type of variable DO27
print("Data type of DO27:", df_subset_job_seekers['DO27'].dtype)

# Check for missing values in variable DO27
print("Number of missing values in DO27:", df_subset_job_seekers['DO27'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['DO27'].value_counts())

Data type of DO27: float64
Number of missing values in DO27: 0
DO27
2.0     9039
1.0     4265
96.0      89
99.0       8
97.0       5
Name: count, dtype: int64

In [70]:
# Create new variable DO27_mod based on condition
df_subset_job_seekers['DO27_mod'] = np.where(df_subset_job_seekers['DO27'] == 1, 1, 0)

# Print frequency table
print(df_subset_job_seekers['DO27_mod'].value_counts())

DO27_mod
0    9141
1    4265
Name: count, dtype: int64

### <u> Experiences of being asked or expected to pay bribe to government official in country in past 5 years </u>

<span style="color:red"><b>New variables:</b></span> Binary. Yes or no. Values 96, 97 and 98 were added to zero. Both asked and expected are being put together in yes.  
**DO24:** In the past 5 years did any government official in [COUNTRY], for example a customs or police officer, a judge or an inspector, ask you or expect you to pay a bribe for his or her services?  
READ OUT “EXPECTED TO PAY” MEANS THAT THE GOVERNMENT OFFICIAL DID NOT ASK DIRECTLY, BUT IN ONE WAY OR ANOTHER IT WAS CLEAR TO THE RESPONDENT THAT A PAYMENT WAS EXPECTED.

In [71]:
# Print data type of variable DO24
print("Data type of DO24:", df_subset_job_seekers['DO24'].dtype)

# Check for missing values in variable DO24
print("Number of missing values in DO24:", df_subset_job_seekers['DO24'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['DO24'].value_counts())

Data type of DO24: float64
Number of missing values in DO24: 0
DO24
3.0     12970
2.0       143
1.0       132
96.0       87
97.0       49
99.0       25
Name: count, dtype: int64

In [72]:
# Create new variable DO24_mod based on conditions
df_subset_job_seekers['DO24_mod'] = df_subset_job_seekers['DO24'].apply(lambda x: 0 if x in [3, 96, 97, 99] else 1)

# Print frequency table
print(df_subset_job_seekers['DO24_mod'].value_counts())

DO24_mod
0    13131
1      275
Name: count, dtype: int64

In [75]:
df_subset_job_seekers.head()

,country,country2,DEGURBA,IN02,HH02,HH03,HH04,HLS02,RA03_1,RA03_2,...,PB10_1_mod,PB10_2_mod,DHO01_mod,HH03_mod,DE06_mod,DHE04_mod,DHE03_mod,DHE02_mod,DO27_mod,DO24_mod
0,1.0,1.0,1.0,8.0,37.0,1.0,1.0,4.0,4.0,4.0,...,1,1,1,0,1,1,3.0,0,1,0
12,1.0,1.0,1.0,8.0,30.0,1.0,1.0,3.0,1.0,2.0,...,0,1,1,0,1,1,3.0,0,1,0
16,1.0,1.0,1.0,8.0,35.0,1.0,1.0,3.0,4.0,2.0,...,1,1,1,0,0,1,3.0,0,1,0
17,1.0,1.0,1.0,8.0,42.0,1.0,4.0,3.0,3.0,4.0,...,1,1,0,0,1,1,1.0,1,1,0
22,1.0,1.0,1.0,8.0,39.0,1.0,5.0,4.0,3.0,3.0,...,1,0,1,0,0,1,3.0,0,1,0

In [79]:
print(df_subset_job_seekers.columns)

Index(['country', 'country2', 'DEGURBA', 'IN02', 'HH02', 'HH03', 'HH04',
       'HLS02', 'RA03_1', 'RA03_2', 'RA03_3', 'RA04', 'EU05', 'EU07',
       'EUD01_01', 'EUD01_02', 'EUD01_03', 'EUD01_04', 'EUD01_05', 'EUD01_06',
       'EUD01_07', 'EUD01_08', 'EUD01_09', 'EUD01_96', 'EUD01_97', 'EUD01_99',
       'DHE01', 'DHE02', 'DHE03', 'DHE04', 'DHO01', 'DE06', 'DO24', 'DO27',
       'VH01a_1', 'VH01a_2', 'VH01a_3', 'VH01a_4', 'VH01a_5', 'VV10_1',
       'VV10_2', 'PB01', 'PB10_1', 'PB10_2', 'PB11', 'S01', 'SI02', 'SI06',
       'activ', 'Encount_police_5y', 'res_stat', 'id', 'arop', 'VH01a_1_mod',
       'VH01a_2_mod', 'VH01a_3_mod', 'VH01a_4_mod', 'VH01a_5_mod',
       'RA03_1_mod', 'RA03_2_mod', 'RA03_3_mod', 'SI02_inc_work',
       'SI02_inc_ben', 'SI06_mod', 'HLS02_mod', 'DHE01_mod', 'PB11_mod',
       'HH04_empl', 'HH04_stud', 'VV10_1_mod', 'S01_mod', 'PB01_mod',
       'DEGURBA_mod', 'RA04_mod', 'Encount_police_5y_mod', 'EU05_mod',
       'PB10_1_mod', 'PB10_2_mod', 'DHO01_mod', 'HH03_mod', 'DE06_mod',
       'DHE04_mod', 'DHE03_mod', 'DHE02_mod', 'DO27_mod', 'DO24_mod'],
      dtype='object')