### READ ME
File created by Gayatri.  
I'm checking for alternative variables that can help reduce/impute missing values.

In [1]:
import pandas as pd
import numpy as np
import pyreadr

from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
result = pyreadr.read_r('../01_data/minorities_discrimination_survey.RData')
print(result.keys())
# Activate automatic conversion from R to pandas
df_full = result["min_dis"] # extract the pandas data frame for object df1
#df_full.head()

odict_keys(['min_dis'])

In [3]:
# Filter the subset to include only people seeking for a job (EU05=1 or EU07=1)
df_job = df1[(df1['EU05'] == 1) | (df1['EU07'] == 1)]

df_job.head()
df_job.shape

NameError: name 'df1' is not defined

In [ ]:
# Manually variables of interest 
db_filtered = [
    'country',
    'country2',
    'DEGURBA',
    'IN02', # Target group
    'IN05', # COUNTRY OF BIRTH (immigrants and their descendants)
    'IN06', # COUNTRY OF BIRTH (Recent immigrants)
    'Generation', # 1st or 2nd generation migrant
    'HH02', # Age
    'HH03', # Gender
    'HH04', # Current situation (Job)
    'HH05', # Is that full-time, part-time or just occasionally?
    'HH06', # Year arrived to live in country
    'HH09_1', # Highest level of education completed? RECODE
    'HH10', # Years spent in education?
    'HH10a', # Currently attending school or vocational training?
    'HH10c', # What is the main reason why you did not continue at school?
    'HLS02', # Do you own or rent this accommodation?
    'RA03_1', # Prevalance of discrimination on the basis of skin colour in [country]
    'RA03_2', # Prevalance of discrimination on the basis of ethnic origin or immigrant background in [country]
    'RA03_3', # Prevalance of discrimination on the basis of religion or religious beliefs in [country]
    'RA04', # Do you know of any organisations in [COUNTRY] that offer support or advice to people who have been discriminated against - for whatever reason?
    'EU01', # In what year was the last time you were in work?
    'EU02', # What was your last job or occupation?
    'EU03', # Are you currently registered as unemployed? 
    'EU05', # Are you currently looking for work?
    'EU07', # Have you ever looked for work in the past 5 years in  [COUNTRY] (or since you have been in [country])?
    'EUD01_01', ### Discriminated when looking for work in the past 5 years: Skin colour 
    'EUD01_02', ### Discriminated when looking for work in the past 5 years:  [ethnic origin or immigrant background / ethnic origin (tailored to target group)] 
    'EUD01_03', ### Discriminated when looking for work in the past 5 years: Religion or religious beliefs 
    'EUD01_04', ### Discriminated when looking for work in the past 5 years: Age (such as being too young or too old) 
    'EUD01_05', ### Discriminated when looking for work in the past 5 years: Sex/gender (such as being a man or a woman) 
    'EUD01_06', ### Discriminated when looking for work in the past 5 years: Disability 
    'EUD01_07', ### Discriminated when looking for work in the past 5 years: Sexual orientation (such as being gay lesbian or bisexual) 
    'EUD01_08', ### Discriminated when looking for work in the past 5 years: Other (please specify) 
    'EUD01_09', ### Discriminated when looking for work in the past 5 years: I haven't felt discriminated against on any ground when looking for work in the past 5 years
    'EUD01_96', ### Discriminated when looking for work in the past 5 years: Refused  
    'EUD01_97', ### Discriminated when looking for work in the past 5 years: Doesn't understand the question 
    'EUD01_99', ### Discriminated when looking for work in the past 5 years: Don't know  
    'EUD06_01', ### Report or complaint made to Police  
    'EA01', ### What is your current job or occupation?
    'EA02', ### "What kind of employment contract do you have in your main job? Is it aâ€¦?
    'EA04', ### To what extent does your current job or the work you do correspond to your level of education?
    'EA05', ### How many hours per week do you work in your (main) job? (allow from 0 to 999)
    'EAD01_01', ### Discriminated at work in the past 5 years: Skin colour 
    'EAD01_02', ### Discriminated at work in the past 5 years: [ethnic origin or immigrant background / ethnic origin (tailored to target group)] 
    'EAD01_03', ### Discriminated at work in the past 5 years: Religion or religious beliefs 
    'EAD01_04', ### Discriminated at work in the past 5 years: Age 
    'EAD01_05', ### Discriminated at work in the past 5 years: Sex/gender (such as being a man or a woman) 
    'EAD01_06', ### Discriminated at work in the past 5 years: Disability
    'EAD01_07', ### Discriminated at work in the past 5 years: Sexual orientation  (such as being gay, lesbian or bisexual)
    'EAD01_08', ### Discriminated at work in the past 5 years: Other (please specify)
    'EAD01_09', ### Discriminated at work in the past 5 years: I haven't felt discriminated against on any ground when at work in the past 5 years 
    'EAD01_96', ### Discriminated at work in the past 5 years: Refused  
    'EAD01_97', ### Discriminated at work in the past 5 years: Doesn't understand the question
    'EAD01_99', ### Discriminated at work in the past 5 years: Don't know
    'res_stat', ### Residence and citizenship status
    'id', # unique identification number for a respondent
    'arop', # At risk of poverty after social transfers
    'PB06_01', # What language do you mainly speak at home? Language 1
    'PB04', # Do you usually wear a headscarf or niqab outside the house? 
    'PB01', # What is your religion?

]

In [ ]:
df_subset_job_seekers = pd.read_pickle('../01_data/df_subset_job_seekers.pkl')

In [17]:
df_subset_job_seekers.head()

,country,country2,DEGURBA,IN02,HH02,HH03,HH04,HLS02,RA03_1,RA03_2,...,PB10_2,PB11,S01,SI02,SI06,activ,Encount_police_5y,res_stat,id,arop
0,1.0,1.0,1.0,8.0,37.0,1.0,1.0,4.0,4.0,4.0,...,1.0,3.0,1.0,1.0,3.0,1.0,2.0,3.0,165.0,1.0
12,1.0,1.0,1.0,8.0,30.0,1.0,1.0,3.0,1.0,2.0,...,1.0,2.0,1.0,1.0,5.0,1.0,2.0,5.0,317.0,0.0
16,1.0,1.0,1.0,8.0,35.0,1.0,1.0,3.0,4.0,2.0,...,1.0,3.0,1.0,1.0,4.0,1.0,1.0,5.0,321.0,0.0
17,1.0,1.0,1.0,8.0,42.0,1.0,4.0,3.0,3.0,4.0,...,1.0,3.0,1.0,6.0,1.0,2.0,1.0,3.0,322.0,1.0
22,1.0,1.0,1.0,8.0,39.0,1.0,5.0,4.0,3.0,3.0,...,2.0,3.0,5.0,9.0,2.0,7.0,2.0,5.0,327.0,1.0

(13406, 1283)

### <u>Main source of income of household</u>  
And which of these is the main source of income in your household?  
**SI02**

<span style="color:red"><b>DEAL WITH MISSINGNESS! Wait for Gayatri to see if we can use a different variable.</b></span>

In [19]:
# Print data type of variable SI02
print("Data type of SI02:", df_subset_job_seekers['SI02'].dtype)

# Check for missing values in variable SI02
print("Number of missing values in SI02:", df_subset_job_seekers['SI02'].isnull().sum())
print("Number of missing values in SI01:", df_subset_job_seekers['SI02'].isnull().sum())

# Print frequency table
print(df_subset_job_seekers['SI02'].value_counts())

Data type of SI02: float64
Number of missing values in SI02: 3863
Number of missing values in SI01: 3863
SI02
1.0     4958
8.0     1212
6.0     1003
2.0      523
3.0      521
5.0      421
7.0      387
4.0      190
9.0      148
96.0      77
99.0      73
10.0      16
97.0      14
Name: count, dtype: int64

In [20]:
# Create new variables SI02_inc_work and SI02_inc_ben based on conditions
df_subset_job_seekers['SI02_inc_work'] = df_subset_job_seekers['SI02'].apply(lambda x: 1 if x in [1, 2, 3] else 0) # salary, self-employement or occasional work
df_subset_job_seekers['SI02_inc_ben'] = df_subset_job_seekers['SI02'].apply(lambda x: 1 if x in [4, 5, 6, 7, 8] else 0) # education allowance, pensions, unemployment benefits, child benefits, other social benefits

# Print frequency table
print(df_subset_job_seekers['SI02_inc_work'].value_counts())
print(df_subset_job_seekers['SI02_inc_ben'].value_counts())

SI02_inc_work
0    7404
1    6002
Name: count, dtype: int64
SI02_inc_ben
0    10193
1     3213
Name: count, dtype: int64

<span style="color:blue">**Alternative:**  
**SI03_3_H: Household combined net monthly income**

**Monthly income in income bands**  
1 | D less than 25 Euro (or equivalent) |  
2 | B 26 - 50 (or equivalent) |  
3 | I 51 - 100 (or equivalent) |  
4 | O 101 - 150 (or equivalent) |  
5 | T 151 - 200 (or equivalent) |  
6 | G 201 - 250 (or equivalent) |  
7 | P 251 - 300 (or equivalent) |  
8 | A 301 - 400 (or equivalent) |  
9 | F 401 - 500 (or equivalent) |  
10 | E 501 - 600 (or equivalent) |  
11 | Q 601 - 750 (or equivalent) |  
12 | H 751 - 900 (or equivalent) |  
13 | C 901 - 1100 (or equivalent) |  
14 | L 1101 - 1300 (or equivalent) |  
15 | N 1301 - 1500 (or equivalent) |  
16 | R 1501 - 1750 (or equivalent) |  
17 | M 1751 - 2000 (or equivalent) |  
18 | S 2001 - 2250 (or equivalent) |  
19 | K 2251 - 2600 (or equivalent) |  
20 | U 2601 - 3000 (or equivalent) |  
21 | V 3001 - 4000 (or equivalent) |  
22 | J 4001 Euro (or equvivalent) or more |  
(No entries for 96, 97, 99)

In [21]:
# Print data type of variable SI03 
print("Data type of SI03_3_H:", df_job['SI03_3_H'].dtype)

# Check for missing values in variable SI02
print("Number of missing values in SI03_3_H:", df_job['SI03_3_H'].isnull().sum())

# Print frequency table
print(df_job['SI03_3_H'].value_counts())

Data type of SI03_3_H: float64
Number of missing values in SI03_3_H: 0
SI03_3_H
13.0    984
9.0     958
12.0    922
14.0    897
8.0     896
17.0    859
11.0    835
10.0    810
15.0    771
16.0    682
19.0    645
7.0     611
21.0    596
20.0    525
5.0     467
18.0    400
22.0    397
6.0     380
4.0     307
3.0     266
1.0     126
2.0      72
Name: count, dtype: int64

**Option to exclude imputed values (imputation indicator - SI03_2_H_stat)**

In [22]:
# Print data type of variable SI03 
print("Data type of SI03_2_H_stat:", df_job['SI03_2_H_stat'].dtype)

# Check for missing values in variable SI02
print("Number of missing values in SI03_2_H_stat:", df_job['SI03_2_H_stat'].isnull().sum())

# Print frequency table
print(df_job['SI03_2_H_stat'].value_counts())

Data type of SI03_2_H_stat: float64
Number of missing values in SI03_2_H_stat: 0
SI03_2_H_stat
0.0    8069
1.0    5337
Name: count, dtype: int64

### <u> Residence / citizenship status </u>  

<span style="color:red"><b>New variable:</b></span> Binary. From EU or not.  
<span style="color:red"><b>Wait for Gayatri to see if we can use a different variable.</b></span>  
**res_stat:** Residence / citizenship status  
1	National citizen  
2	EU citizen, but not national  
3	Unlimited residence permit  
4	Limited residence permit, valid for more than 5 years  
5	Limited residence permit, valid for less than 5 years  
6	No residence permit  
99	Other (e.g. currently renewing, don't know)

In [23]:
# Print data type of variable res_stat
print("Data type of res_stat:", df_job['res_stat'].dtype)

# Check for missing values in variable res_stat
print("Number of missing values in res_stat:", df_job['res_stat'].isnull().sum())

# Print frequency table
print(df_job['res_stat'].value_counts())

Data type of res_stat: float64
Number of missing values in res_stat: 3987
res_stat
1.0     4196
5.0     2299
3.0     1417
99.0     629
6.0      366
2.0      288
4.0      224
Name: count, dtype: int64

<span style="color:blue">**Possible alternatives:**  
<span style="color:black"> HH07 - variable not included in dataset due to sensitivity  XXXX  
<span style="color:black">HH07_1 - Number of citizenships (derived variable)  
<span style="color:red">HH07_2 - Has citizenship of survey country (derived variable)  
<span style="color:red">HH07_3 - Other country citizenship country 1)  
<span style="color:black">HH07_4 - Other country citizenship country 2)  
<span style="color:black">HH19 Possession of country citizenship (household members)  
<span style="color:black">HH30 Confirmation of entered information (household members) - does not exist  
<span style="color:red">PR03 Current possession of a residence permit - variable not included in dataset due to sensitivity  XXXX  
<span style="color:black">PR15 Applied for country citizenship in the past  
<span style="color:black">PR16 Outcome of country citizenship application
<span style="color:black">IN05 Country of birth (from contact sheet)  
<span style="color:black">PR02 Type of permit/documents/status when first arriving to country - variable not included in dataset due to sensitivity  XXXX  
<span style="color:red">PR01 Reasons for coming to country:  
PR01_01 Employment/work  
PR01_02 Family reasons/joined a partner/marriage  
PR01_03 Came with my parents when I was a child  
PR01_04 Study  
PR01_05 Seeking asylum/protection  
PR01_06/PR01_06_Other Other (please specify):  
PR01_07 I did not plan to stay in [COUNTRY]

In [47]:
# Print data type of variable res_stat
print("Data type of HH07_3:", df_job['HH07_3'].dtype)
print("Data type of HH07_4:", df_job['HH07_4'].dtype)

# Check for missing values in variable res_stat
print("Number of missing values in HH07_3:", df_job['HH07_3'].isnull().sum())
print("Number of missing values in HH07_4:", df_job['HH07_4'].isnull().sum())

# Print frequency table
print(df_job['HH07_3'].value_counts())
print(df_job['HH07_4'].value_counts())

Data type of HH07_3: float64
Data type of HH07_4: float64
Number of missing values in HH07_3: 7931
Number of missing values in HH07_4: 13365
HH07_3
143.0    965
207.0    777
187.0    344
157.0    315
154.0    295
        ...
996.0      1
40.0       1
110.0      1
142.0      1
79.0       1
Name: count, Length: 119, dtype: int64
HH07_4
22.0     7
26.0     7
207.0    4
10.0     3
2.0      2
3.0      2
143.0    2
94.0     2
28.0     1
15.0     1
154.0    1
12.0     1
101.0    1
71.0     1
58.0     1
23.0     1
155.0    1
82.0     1
30.0     1
157.0    1
Name: count, dtype: int64

EU countries list: no. 1 to 27  
Austria, Belgium, Bulgaria, Croatia, Republic of Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain and Sweden.  
  
2nd citizenship can be used to impute NAs along with PR01 variables.

In [67]:
eu_countries = list(range(1, 28))  # Generates a list of integers from 1 to 27

def is_eu_citizen_2(citizenship):
    return 0 if citizenship not in eu_countries else 1  # 1 for eu, 0 for others
    
# Apply the function to create a new column indicating if the citizenship is in EU countries
df_job.loc[:, 'is_eu_citizen_2'] = df_job['HH07_3'].apply(is_eu_citizen_2)
print(df_job['is_eu_citizen_2'].value_counts())

is_eu_citizen_2
0    13135
1      271
Name: count, dtype: int64

In [68]:
# Create new variable based on conditions
# df_job['2nd_citizenship'] = df_job['HH07_3'].apply(lambda x: 0 if pd.isna(x) or x == -2 else 1)
# df_job['3rd_citizenship'] = df_job['HH07_4'].apply(lambda x: 0 if pd.isna(x) or x == -2 else 1)

# Print frequency table
# print(df_job['2nd_citizenship'].value_counts())
# print(df_job['3rd_citizenship'].value_counts())

# NAs in citizenship = 0 and if EU citizen = 1

In [69]:
# Encode such that NAs will become 1 for EU citizens (question not applicable to EU citizens)
# Everything else will become 0 (both response and non-response if from a non-EU person)
df_job.loc[:, 'PR01_01_mod'] = df_job['PR01_01'].apply(lambda x: 1 if pd.isna(x) else 0)
df_job.loc[:, 'PR01_02_mod'] = df_job['PR01_02'].apply(lambda x: 1 if pd.isna(x) else 0)
df_job.loc[:, 'PR01_03_mod'] = df_job['PR01_03'].apply(lambda x: 1 if pd.isna(x) else 0)
df_job.loc[:, 'PR01_04_mod'] = df_job['PR01_04'].apply(lambda x: 1 if pd.isna(x) else 0)
df_job.loc[:, 'PR01_05_mod'] = df_job['PR01_05'].apply(lambda x: 1 if pd.isna(x) else 0)
df_job.loc[:, 'PR01_06_mod'] = df_job['PR01_06'].apply(lambda x: 1 if pd.isna(x) else 0)
df_job.loc[:, 'PR01_07_mod'] = df_job['PR01_07'].apply(lambda x: 1 if pd.isna(x) else 0)

In [77]:
# List all the columns you want to combine
columns_to_combine = ["PR01_01", "PR01_02", "PR01_03", "PR01_04", "PR01_05", "PR01_06", "PR01_07", "is_eu_citizen_2"]
                      # "3rd_citizenship"]
                      # "EAD01_01", "EAD01_02", "EAD01_03", "EAD01_04", "EAD01_05",
                      # "EAD01_06", "EAD01_07", "EAD01_08", "EAD01_09"]

# Create a new column "non_eu" by combining the specified columns
df_job.loc[:, 'non_eu'] = None
for column in columns_to_combine:
    df_job.loc[:, 'non_eu'] = df_job['non_eu'].combine_first(df_job[column])

# Print the head of the new column "non_eu"
print(df_job['non_eu'].head())

# Check for missing values in the new column
print(df_job['non_eu'].isnull().sum())

0     0.0
12    0.0
16    0.0
17    0.0
22    0.0
Name: non_eu, dtype: object
0

C:\Users\gayat\AppData\Local\Temp\ipykernel_12568\865696598.py:10: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df_job.loc[:, 'non_eu'] = df_job['non_eu'].combine_first(df_job[column])

In [ ]:
# impute this to res_stat

**HH07_2 - Has citizenship of survey country (derived variable)**  
This one has the same number of NAs as res_stat. I don't think it'll be useful.

In [26]:
# Print data type of variable res_stat
print("Data type of HH07_2:", df_job['HH07_2'].dtype)

# Check for missing values in variable res_stat
print("Number of missing values in HH07_2:", df_job['HH07_2'].isnull().sum())

# Print frequency table
print(df_job['HH07_2'].value_counts())

Data type of HH07_2: float64
Number of missing values in HH07_2: 3987
HH07_2
2.0     5158
1.0     4196
96.0      35
99.0      18
97.0      12
Name: count, dtype: int64

**IN05 - Country of birth**  
List of 233 countries + not recognised + stateless

In [27]:
# Print data type of variable res_stat
print("Data type of IN05:", df_job['IN05'].dtype)

# Check for missing values in variable res_stat
print("Number of missing values in IN05:", df_job['IN05'].isnull().sum())

# Print frequency table
print(df_job['IN05'].value_counts())

Data type of IN05: float64
Number of missing values in IN05: 4776
IN05
143.0    1196
207.0     858
187.0     815
20.0      526
154.0     445
         ...
111.0       1
21.0        1
115.0       1
6.0         1
79.0        1
Name: count, Length: 98, dtype: int64

In [28]:
# Print data type of variable res_stat
print("Data type of IN06:", df_job['IN06'].dtype)

# Check for missing values in variable res_stat
print("Number of missing values in IN06:", df_job['IN06'].isnull().sum())

# Print frequency table
print(df_job['IN06'].value_counts())

Data type of IN06: float64
Number of missing values in IN06: 12967
IN06
212.0    135
51.0     101
200.0     44
182.0     25
45.0      25
233.0     22
168.0     20
116.0      6
138.0      4
117.0      4
30.0       4
196.0      3
207.0      3
206.0      3
94.0       3
82.0       3
221.0      3
37.0       3
141.0      2
180.0      2
107.0      2
215.0      2
154.0      2
125.0      2
163.0      2
66.0       1
40.0       1
199.0      1
29.0       1
197.0      1
143.0      1
106.0      1
191.0      1
33.0       1
208.0      1
217.0      1
39.0       1
122.0      1
53.0       1
Name: count, dtype: int64

In [29]:
df_job['origin_country'] = df_job['IN05'].fillna(df_job['IN05'])
df_job['origin_country'] = df_job['origin_country'].fillna(df1['IN08'])
df_job['origin_country'] = df_job['origin_country'].fillna(df1['IN07'])

df_job['origin_country'].head()

# Check for missing values in variable res_stat
print("Number of missing values in origin_country:", df_job['origin_country'].isnull().sum())

# Print frequency table
print(df_job['origin_country'].value_counts())

Number of missing values in origin_country: 4337
origin_country
143.0    1197
207.0     861
187.0     815
20.0      526
154.0     447
         ...
996.0       1
191.0       1
115.0       1
999.0       1
79.0        1
Name: count, Length: 128, dtype: int64

C:\Users\gayat\AppData\Local\Temp\ipykernel_12568\3098879301.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job['origin_country'] = df_job['IN05'].fillna(df_job['IN05'])
C:\Users\gayat\AppData\Local\Temp\ipykernel_12568\3098879301.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job['origin_country'] = df_job['origin_country'].fillna(df1['IN08'])
C:\Users\gayat\AppData\Local\Temp\ipykernel_12568\3098879301.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_job['origin_country'] = df_job['origin_country'].fillna(df1['IN07'])

### <u> At risk of poverty after social transfers </u>

<span style="color:red"><b>Keep it as it is:</b></span> Binary.  
<span style="color:red"><b>DEAL WITH MISSINGNESS. Gayatri should look for a better variable.</b></span>  
**arop**

In [30]:
# Print data type of variable arop
print("Data type of arop:", df_job['arop'].dtype)

# Check for missing values in variable arop
print("Number of missing values in arop:", df_job['arop'].isnull().sum())

# Print frequency table
print(df_job['arop'].value_counts())

Data type of arop: float64
Number of missing values in arop: 2700
arop
1.0    7411
0.0    3295
Name: count, dtype: int64

In [31]:
# df_job_arop = df_job[df_job['SI03_3_H'] > 8] 
df_job_arop = df_job[~df_job['origin_country'].isin(['22', '20', '15', '27'])]

df_job_arop.head()

df_job_arop['arop'].isnull().sum()

2700

In [43]:
# Taking the reference of Macedonia as the country with the lowest minimum wage at 360 euros per month (band 8 in our data)
# Define a function to impute 'arop' based on 'SI03_3_H'
def impute_arop(row):
    if pd.isna(row['arop']):  # Check if 'arop' is missing
        if row['SI03_3_H'] >= 8:  # Check if 'SI03_3_H' is greater than or equal to 8
            return 0  # Impute 0 for 'arop'
        else:
            return 1  # Impute 1 for 'arop'
    else:
        return row['arop']  # Return original value if not missing

# Apply the function to impute 'arop'
df_job.loc[:, 'arop'] = df_job.apply(impute_arop, axis=1)

0

In [44]:
# Print data type of variable arop
print("Data type of arop:", df_job['arop'].dtype)

# Check for missingness again
print("Number of missing values in arop:", df_job['arop'].isnull().sum())

# Print frequency table
print(df_job['arop'].value_counts())

Data type of arop: float64
Number of missing values in arop: 0
arop
1.0    7612
0.0    5794
Name: count, dtype: int64

**Alternatively: Can impute 'arop' values using income + social transfer variables:  
SI01_04 Income from education allowance (grants, stipends)  
SI01_05 Pensions  
SI01_06 Unemployment benefits  
SI01_07 Child benefits (including alimonies)  
SI01_08 Other social benefits (social assistance, rent support, donations from charity)**  

Might cause collinearity issue but since it's 6 different variables + only 2000-ish missing values, maybe that won't be a problem.